# Environments
venv/
.venv/
env/
.env
.qdrant_storage/
.qdrant_storage/*
qdrant_storage/
qdrant_storage/*

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


rag_service.log


